@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-zinc-50: oklch(98.5% 0 0);
  --color-zinc-100: oklch(96.7% 0.001 286.375);
  --color-zinc-200: oklch(92% 0.004 286.32);
  --color-zinc-300: oklch(87.1% 0.006 286.286);
  --color-zinc-400: oklch(70.5% 0.015 286.067);
  --color-zinc-500: oklch(55.2% 0.016 285.938);
  --color-zinc-600: oklch(44.2% 0.017 285.786);
  --color-zinc-700: oklch(37% 0.013 285.805);
  --color-zinc-800: oklch(27.4% 0.006 286.033);
  --color-zinc-900: oklch(21% 0.006 285.885);
  --color-zinc-950: oklch(14.1% 0.005 285.823);
  --color-orange: oklch(75% 0.183 55.934);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .input {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    padding: 0.5rem;
    word-break: break-word;
    white-space: pre-wrap;
    outline: none;
    background-color: var(--color-zinc-100);

    transition: border-color 0.2s;
  }

  .disabled-btn {
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--color-zinc-300);
    padding: 0.75rem 2.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
    color: white;
    transition: background-color 0.2s;
  }

  .btn {
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--color-orange);
    padding: 0.75rem 2.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
    color: white;
    transition: background-color 0.2s;
  }

  .logo {
    font-size: 1.875rem;
    color: var(--color-orange);
    font-weight: 800;
  }
}
